.set-goal-button {
    display: block;
    background: #F7F8FA;
    box-shadow: 2px 2px 4px rgba(113, 113, 113, 0.25);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    text-decoration: none;
    font-size: 120px;
    color: #DAD4CE;
}
.set-goal-button:hover{
    color: #AAA48E;
}

#today-goal {
    background-color: #fff;
    width: 18rem;
    padding: 1rem;
    height: calc(100vh - 10rem);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.today-goal-list .unlock {
    --goal-color: #E4AE44;
    --goal-color_op1: #E4AE4420;
    --goal-color_op2: #E4AE4460;
    --goal-color_op3: #E4AE4480;
    --goal-color_dark: #B99245;
}
.today-goal-list .usage {
    --goal-color: #A4BD85;
    --goal-color_op1: #A4BD8520;
    --goal-color_op2: #A4BD8560;
    --goal-color_op3: #A4BD8580;
    --goal-color_dark: #778863;
}
.today-goal-list .app {
    --goal-color: #686986;
    --goal-color_op1: #68698620;
    --goal-color_op2: #68698660;
    --goal-color_op3: #68698680;
    --goal-color_dark: #585971;
}
.today-goal-list .exceed {
    --goal-color: #b40000;
}
.square {
    background-color: var(--goal-color);
    width: 12px;
    height: 12px;
}
.goal-label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
    width: 15rem;
    gap: 6px;
}
.goal-label > * {
    display: flex;
    color: var(--goal-color);
    align-items: center;
    gap: 6px;
}

.today-goal-fig {
    width: 14rem;
    height: 14rem;
}
.today-goal-list .goal-title {
    margin: 4px 0;
    color: var(--goal-color_dark);
    width: 16rem;
}

.today-goal-list .goal-list {
    height: 3.6rem;
    width: 16rem;
    border: 1px solid var(--goal-color-op2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;
    background-color: var(--goal-color_op1);
    color: black;
    text-decoration: none;
}
.today-goal-list .goal-list .goal-state-check {
    width: 24px;
    height: 24px;
    border: 1px solid var(--goal-color);
    border-radius: 50%;
    background-color: #fff;
    padding: 4px;
}
.today-goal-list .goal-list .goal-state-check.exceed {
    border: 1px solid #b40000;
}
  
.goal-list:hover {
    background-color: var(--goal-color_op2);
  }
.goal-list.active {
    background-color: var(--goal-color_op3);
    border: 1px solid var(--goal-color);
}
.today-goal-list:has(.active) .goal-list:not(.active) {
    opacity: 0.6;
}

#calendar-container {
    position: relative;
    width: calc(100% - 19rem);
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.calendar-container > :first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.calendar-container > :first-child > :first-child:hover, 
.calendar-container > :first-child > :last-child:hover {
    background-color: #99A68D40;
}
.calendar-container > :first-child > :first-child.disabled {
    cursor: not-allowed;
}

.calendar-container > :first-child > :first-child, 
.calendar-container > :first-child > :last-child {
    width: 42px;
    color: #99A68D;
    text-align: center;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    background-color: #0000;
    height: 30px;
}

.weekly-calendar-container {
    height:40%;
}
.weekly-graph-container{
    height:60%;
}
.weekly-graph-container,
.weekly-calendar-container,
.calendar-container {
    position: relative;
    width: 100%;
    /* padding: 1rem; */
    background-color: #fff;
    align-items: center;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    padding: 1rem;
    border-radius: 6px;
    user-select:none;
}

.calendar-container {
    height: 100%;

}
.goal-calendar {
    width: 100%;
    height: calc(100% - 60px);
}
.goal-calendar thead {
    background-color: #DAD4CE;
}
.goal-calendar th {
    width: calc(100% / 7);
    text-align: center;
    color: #515151;
}

.goal-calendar th:first-child {
    color: #FF6F66;
}
.goal-calendar th:last-child {
    color: #FDB03D;
}

.goal-calendar td {
    border: 3px solid #F4F4F4;
    vertical-align : top;
    text-align: right;
    position: relative;
    padding: 4px 6px;
}
.goal-calendar td:first-child {
    color: #FF6F66;
}
.goal-calendar td:last-child {
    color: #FDB03D;
}
.goal-calendar td.today {
    box-shadow: inset 3px 3px 0px #9C938A,
                inset -3px -3px 0px #9C938A;
}

.calendar-donut {
    --plot-size:calc(min(100%, 120px));
    aspect-ratio: 1;
    height: var(--plot-size);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weekly-calendar-title {
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
}

.weekly-calendar {
    width: 100%;
    height: calc(100% - 60px);
}
.weekly-calendar thead {
    background-color: #DAD4CE;
}
.weekly-calendar th {
    width: calc(100% / 7);
    text-align: center;
    color: #515151;
}

.weekly-calendar td {
    border: 3px solid #F4F4F4;
    vertical-align : top;
    text-align: right;
    position: relative;
}
.weekly-calendar td.today {
    box-shadow: inset 3px 3px 0px #9C938A,
                inset -3px -3px 0px #9C938A;
}
.weekly-calendar-sunday {
    color: #FF6F66;
}
.weekly-calendar-saturday {
    color: #FDB03D;
}
.today-goal-info{
    background: #F7F8FA;
    border: 1px solid #B7AFAF;
    border-radius: 10px;
    padding: 12px;
}