/*side bar*/
/*logout link-button*/
body {
  overflow-y: hidden;
}
.main-container {
  --side-margin: max(1rem, calc((100vw - 89rem) / 2));
  margin: 0;
  background-color: #99A68D;
  min-width: 91rem;
}
.side-bar {
  position: absolute;
  top: 0;
  left: var(--side-margin);
  bottom: 0;
  width: 16rem;
  padding: 1rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  margin-left: calc(16rem + var(--side-margin));
  width: 73rem;
  background-color: #F7F8FA;
  height: 100vh;
  padding: 1rem;
  position: relative;
}

.link-button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    padding: 0 6px;
    color:#636363;
    border-radius: 5px;
    margin-right: 10px;
}
.link-button.sub {
    background-color: #F5F6F8A0;
    color:#636363;
    text-align: center;
}
.link-button.sub:hover {
    background-color: #F5F6F8;
}

/* main menu navigation*/

.side-nav .nav-link.active, 
.side-nav .nav-link:active, 
.side-nav .nav-link:focus {
    color: #fff;
    background-color: #BBA083;
}
.side-nav .nav-link:hover:not(.active) {
  color: #636363;
  background-color: #BBA08330;
}

.side-nav .nav-link {
  color: #636363;
  margin-bottom: 8px;
}

.side-nav .nav-pills .nav-link.active, 
.side-nav .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #BBA083;
}

.side-nav .nav-pills .nav-link {
  border-radius: 25px;
  margin-right: 10px;
}
/*report header radio*/
.report-nav .nav-link.active, 
.report-nav .nav-link:active, 
.report-nav .nav-link:focus {
  background-color: white;
  color: #000;
    text-align: center;
    width: 150px;
    height: 40px;
}
.report-nav .nav-link:hover:not(.active) {
  color: #000;
  background-color: #EBEBF0;

  text-align: center;
  width: 150px;
  height: 40px;
}

.report-nav .nav-link {
  color: #000;
  background-color: #EBEBF0;

  text-align: center;
  margin-bottom: 8px;
  width: 150px;
  height: 40px;
}

.report-nav .nav-pills .nav-link.active, 
.report-nav .nav-pills .show > .nav-link {
  background-color: white;
  color: #000;
  text-align: center;
  height: 40px;
  width: 150px;
}

.APP_BUTTON_STYLE {
  width: 85%;
  margin: 0px 10px 12px 30px;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  height:27px;
  transition-duration: 0.3s;
}
.APP_BUTTON_STYLE:hover {
  width: 85%;
  margin: 0px 10px 12px 30px;
  border: none;
  border-radius: 7px;
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.25);
  height:27px;
}

.APP_BUTTON_STYLE:active {
  box-shadow: none;
}


.OTHER_BUTTON_STYLE {
  width: 85%;
  margin: 0px 10px 12px 30px;
  border: none;
  border-radius: 7px;
  box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.25);
  height:27px;
  transition-duration: 0.3s;

}

.OTHER_BUTTON_STYLE:hover {
  cursor:default;
  box-shadow:inset 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.25);
}

#usage_graph .hoverlayer .bg {
  rx: 3;
  shape-rendering: auto;
}

.SingleDatePickerInput {
  /* background-color: rgba(0, 0, 0, 0); */
  border: 0px;
}

.DateInput{
  width: 150px; /* replace with whatever length you prefer */
  /* background-color: rgba(0, 0, 0, 0); */
}

.DateInput_input{
  /* my personal stuff */
  text-align: center;
  font-weight: 400;
  height: 40px;
  /* border-radius: 5px; */
  /* background-color: #EBEBF0; */
  background-color: rgba(0, 0, 0, 0);
  /* color : rgba(0, 0, 0, 0); */
  /* margin-top: -5px; */
  font-size: medium;
  /* text-decoration : underline; */
}

.DateInput_clearDate{
  /* my personal stuff */
  color: red
}

.container{
  background-color:white;
  border-radius: 5px;
  height:calc(100vh - 9rem);
  position: relative;
  margin-top: 5px;
  box-shadow: 4px 4px 4px rgba(46, 46, 46, 0.25);
}